*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: white;
    display: flex;
   flex-direction: column;
}
header{
width: 100%;
height: 100px;
/* background-color: red; */
display: flex;
justify-content: center;
}
.headerWrapper{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerImage{
        height: 100px;
        width: 250px;
        /* background-color: yellow; */

        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
}
.headerRight{
    height: 70%;
    width: 320px;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
a .secBtn{
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #3348a2;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
a button{
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color:transparent;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
a button:hover{
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-color: #3348a2;
    color: white;
    transition: all 700ms;
}
a .secBtn:hover{
    background-color: #435abe;
    transition: all 650ms;
}
.HeroPage{
    height: 612px;
    width: 100%;
    background-image:url(./Images/third.jpg) ;
    background-repeat: no-repeat;
   background-size: cover;
    
}
.heroWrapper{
    height: 612px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    align-items: center;
    justify-content: center;
}
.HeroPageText{
    height: 400px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: green; */
    gap: 20px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 60px;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        text-align: center;
        line-height: 40px;
    }
}
a .secBtns{
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #3348a2;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
a .secBtns:hover{
    background-color: #435abe;
    transition: all 650ms;
}
.aboutSec{
    height: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    /* background-color: red; */

    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 50px;
    }
}
.aboutInfo{
    height: 550px;
    width: 100%;
    /* background-color: #3348a2; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutInfoLeft{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    & .abtInfoWrapper{
        color: black;
        height: 500px;
        width: 550px;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        & h3{
            font-family: "Poppins", sans-serif;
            font-size: 30px;
            font-weight: 600;
        }
        & p{
            font-family: "Roboto", sans-serif;
            font-size: 22px;
            text-align: justify;
            line-height: 35px;
            
        }
    }
}

    .aboutInfoimg{
        height: 90%;
        width: 50%;
        border-radius: 10px;
        margin-right: 30px;
        & img{
            height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        }
    }
.whyInfo{
    height: 800px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-color: red; */

    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 50px;
    }

}
.whyInfoWrapper{
    height: 90%;
    width: 95%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.WhyDown{
    height: 600px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* background-color: yellow; */
}
.whyBox{
    height: 600px;
    width: 500px;
    padding: 15px 10px 15px 10px;
    /* border: 1px solid grey; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.whyUp{
    height: 320px;
    width: 95%;
    border-radius: 10px;
    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
.whyText{
    height: 130px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    & h3{
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 600;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        text-align: center;
        color: rgb(26, 25, 25);
        line-height:30px;
    }
}
.whyInfos{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-color: red; */

    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 50px;
    }

}
.whyInfoWrappers{
    height: 80%;
    width: 95%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.WhyDowns{
    height: 320px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* background-color: yellow; */
}
.whyBoxs{
    height: 250px;
    width: 500px;
    padding: 15px 10px 15px 10px;
    /* border: 1px solid grey; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.whyTexts{
    height: 200px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    & h3{
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 600;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        text-align: center;
        color: rgb(26, 25, 25);
        line-height:30px;
    }
}
.beforeFooter{
    height:400px;
    width: 100%;
    background-color: #7987c2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beforeFooterText{
    height: 350px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: green; */
    gap: 20px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 40px;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size: 23px;
        text-align: center;
        line-height: 40px;
    }
}
a .footerBtn{
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color:white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3348a2;
}
a .footerBtn:hover{
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-color: #3348a2;
    color: white;
    transition: all 700ms;
}
footer{
    height:150px;
    width: 100%;
    background-color: #3348a2;
    
}
.footerWrapper{
    height:150px;
    width: 90%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    color: white;
}
.footerLeft{
    height: 80px;
    width: 250px;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    align-items: center;
    & .footerImage{
        height: 80px;
        width: 250px;
        /* background-color: yellow; */

        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
       
    }
   
}
.footerIcon{
    width: 200px;
    /* height: 250px; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: green; */
    & .icon{
        width: 30px;
        height: 30px;
        & img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
.footerRight{
    height: 100px;
    width: 300px;
    display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: blueviolet; */

   & p{
    font-family: "poppins", sans-serif;
    font-size: 15px;
  
}
}

/* 
@media (min-width: 575px) and(max-width:767px){
    .headerImage{
        height: 100px;
        width: 200px;
        

        & img{
           
            width: 100%;
            object-fit: cover;
        }
}
    .headerRight{
        width: 170px;
      
    }
    a .secBtn{
        height: 40px;
        width: 80px;
       font-size: 15px;
       border-radius: 30px;
    }
    a button{
        height: 40px;
        width: 80px;
       font-size: 15px;
       border-radius: 30px;
    }
    a button{
        width: 80px;
    }
    .HeroPageText{
        height: 300px;
        width: 95%;
        gap: 10px;
        & h1{
            font-family: "Poppins", sans-serif;
            font-size: 20px;
        }
        & p{
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            text-align: center;
            line-height: 25px;
        }

        & a .secBtns{
            height: 40px;
            width: 80px;
           font-size: 12px;
           border-radius: 30px;
        }
    }
    .HeroPage{
        height: 400px;
       
        
    }
    .heroWrapper{
        height: 400px;
        width: 100%;
     
    }

    .aboutSec{
        height: 720px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
       
    
        & h1{
            font-family: "Poppins", sans-serif;
            font-size: 25px;
        }
    }
    .aboutInfo{
        height:630px;
        width: 100%;
        background-color: #3348a2;
        display: flex;
        flex-direction: column;
       
        
    }
    .aboutInfoLeft{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & .abtInfoWrapper{
            color: white;
            height: 300px;
            width: 95%;

            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            & h3{
                font-family: "Poppins", sans-serif;
                font-size: 18px;
                font-weight: 600;
            }
            & p{
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                text-align: justify;
                line-height: 25px;
                
            }
        }
    }
    
        .aboutInfoimg{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .whyInfo{
        
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: red;
            margin-top: 30px;
            & h1{
                font-family: "Poppins", sans-serif;
                font-size: 25px;
            }
        
        }
        .whyInfoWrapper{
            height:95%;
            width: 95%;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
           
          
        }
        .WhyDown{
            height: 1090px;
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            
            align-items: center;
        }
        .whyBox{
            height: 400px;
            width: 90%;
            padding: 15px 10px 15px 10px;
           
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }
        .whyUp{
            height: 180px;
            width: 95%;
            border-radius: 10px;
            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .whyText{
            height: 90px;
            width: 100%;
 
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            & h3{
                font-family: "Poppins", sans-serif;
                font-size: 20px;
                font-weight: 600;
            }
            & p{
                font-family: "Roboto", sans-serif;
                font-size:16px;
                text-align: center;
                color: rgb(26, 25, 25);
                line-height:18px;
            }
        }
        .whyInfos{
            height: 700px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          
        
            & h1{
                font-family: "Poppins", sans-serif;
                font-size: 25px;
            }
        
        }
        .whyInfoWrappers{
            height: 95%;
            width: 95%;
           
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0px;
            justify-content: space-around;
        }
        .WhyDowns{
            height: 600px;
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
          
            align-items: center;
        }
        .whyBoxs{
            height: 400px;
            width: 90%;
            padding: 15px 10px 15px 10px;
           
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }
        .whyUps{
            height: 180px;
            width: 95%;
            border-radius: 10px;
            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .whyTexts{
            height: 90px;
            width: 100%;
          
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            & h3{
                font-family: "Poppins", sans-serif;
                font-size: 20px;
                font-weight: 600;
            }
            & p{
                font-family: "Roboto", sans-serif;
                font-size:16px;
                text-align: center;
                color: rgb(26, 25, 25);
                line-height:18px;
            }
        }

        .beforeFooter{
            height:400px;
            width: 100%;
            background-color: #7987c2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .beforeFooterText{
            height: 350px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            
            gap: 20px;
            & h1{
                font-family: "Poppins", sans-serif;
                font-size: 20px;
                text-align: center;
            }
            & p{
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                text-align: center;
                line-height: 30px;
            }
        }
        a .footerBtn{
            height: 40px;
            width: 80px;
           font-size: 12px;
           border-radius: 30px;
        }
        a .footerBtn:hover{
            height: 40px;
            width: 80px;
           font-size: 12px;
           border-radius: 30px;
            background-color: #3348a2;
            color: white;
            transition: all 700ms;
        }
        footer{
            height:300px;
            width: 100%;
            background-color: #3348a2;
            
        }
        .footerWrapper{
            height:300px;
            width: 90%;
            
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            color: white;
            padding-left: 20px;
        }
        .footerLeft{
            height: 100px;
            width: 80%;
            display: flex;
            flex-direction: column;
          
            align-items: flex-start;
            & .footerImage{
                height: 80px;
                width: 150px;
               
        
                & img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
               
            }
            & .footerIcon{
                width: 150px;
               
                display: flex;
             
                justify-content: space-between;
               
                & .icon{
                    width: 30px;
                    height: 30px;
                    & img{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
        .footerMiddle{
            height: 300px;
            width: 150px;
            display: flex;
            flex-direction: column;
            
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            
        
            & p{
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                display: flex;
                text-align: justify;
            }
        
        }
        .footerRight{
            height: 300px;
            width: 90%;
            display: flex;
           justify-content: center;
           align-items: flex-end;
        
           & p{
            font-family: "poppins", sans-serif;
            font-size: 12px;
          
        }
        }
}  */

@media (max-width:768px){
    .headerImage{
        height: 100px;
        width: 150px;
        /* background-color: yellow; */

        & img{
            /* height: 100%; */
            width: 100%;
            object-fit: cover;
        }
}
    .headerRight{
        width: 180px;
       /* background-color: red; */
    }
    a .secBtn{
        height: 40px;
        width: 85px;
       font-size: 15px;
       border-radius: 30px;
    }
    a button{
        height: 40px;
        width: 80px;
       font-size: 15px;
       border-radius: 30px;
    }
    a button{
        width: 80px;
    }
a button:hover{
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: #3348a2;
    color: white;
    transition: all 700ms;
}
a .secBtn:hover{
    background-color: #435abe;
    transition: all 650ms;
}
.HeroPageText{
    height: 300px;
    width: 90%;
  
    /* background-color: green; */
    gap: 10px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 20px;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        text-align: center;
        line-height: 25px;
    }

    & a .secBtns{
        height: 40px;
        width: 80px;
       font-size: 12px;
       border-radius: 30px;
    }
}
.HeroPage{
    height: 400px;
   
    
}
.heroWrapper{
    height: 400px;
    width: 100%;
 
}
a .secBtns{
    height: 50px;
    width: 110px;
    font-size: 16px;
   
}
a .secBtns:hover{
    background-color: #435abe;
    transition: all 650ms;
}
.aboutSec{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
    /* background-color: red; */

    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 20px;
    }
}
.aboutInfo{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    /* background-color: purple; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}
.aboutInfoLeft{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    /* background-color: yellow; */
    & .abtInfoWrapper{
        color: black;
        height:auto;
        width: 90%;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        text-align: center;
        & h3{
            font-family: "Poppins", sans-serif;
            font-size: 17px;
            font-weight: 600;
        }
        & p{
            font-family: "Roboto", sans-serif;
            font-size: 13px;
            text-align: center;
            line-height: 25px;
            
        }
    }
}

/* .aboutInfoimg{
    height:52%;
    width: 100%;
  background-color: red;

    & img{
        height: 100%;
    width: 100%;
    object-fit: cover;
    }
} */
.aboutInfoimg{
    height: 250px;
    width: 90%;
    border-radius: 10px;
    margin-right: 0px;
    /* margin-left: 20px; */
    & img{
        height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    }
}
.whyInfo{
        height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    margin-top: 30px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 20px;
    }

}
.whyInfoWrapper{
    height:auto;
    width: 95%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   background-color: red;
  
}
.WhyDown{
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    /* background-color: green; */
    align-items: center;
}
.whyBox{
    height:300px;
    width: 90%;
    padding: 15px 10px 15px 10px;
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.whyUp{
    height: 150px;
    width: 95%;
    border-radius: 10px;
    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
.whyText{
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    & h3{
        font-family: "Poppins", sans-serif;
        font-size: 17px;
        font-weight: 600;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size:13px;
        text-align: center;
        color: rgb(26, 25, 25);
        line-height:20px;
    }
}
.whyInfos{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  /* background-color: red; */
    margin-top:30px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 20px;
    }

}
.whyInfoWrappers{
    height: auto;
    width: 95%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
}
.WhyDowns{
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  /* background-color: blue; */
    align-items: center;
}
.whyBoxs{
    height: 180px;
    width: 90%;
    padding: 15px 10px 15px 10px;
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.whyUps{
    height: auto;
    width: 95%;
    border-radius: 10px;
    /* background-color: red; */
    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
.whyTexts{
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    & h3{
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size:13px;
        text-align: center;
        color: rgb(26, 25, 25);
        line-height:20px;
    }
}

.beforeFooter{
    height:300px;
    width: 100%;
    background-color: #7987c2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.beforeFooterText{
    height: 250px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 15px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        text-align: center;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size:13px;
        text-align: center;
        line-height: 25px;
    }
}
a .footerBtn{
    height: 40px;
    width: 100px;
   font-size: 14px;
   border-radius: 30px;
}
a .footerBtn:hover{
    height: 40px;
    width: 80px;
   font-size: 12px;
   border-radius: 30px;
    background-color: #3348a2;
    color: white;
    transition: all 700ms;
}
footer{
    height:150px;
    width: 100%;
    background-color: #3348a2;
    
}
.footerWrapper{
    height:150px;
    width: 90%;
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    color: white;
    /* padding-left: 20px; */
}

.footerLeft{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: flex-start;

    & .footerImage{
        height: 50px;
        width: 150px;
        /* background-color: yellow; */
    }
        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
}
.footerIcon{
    width: 110px;
    /* height: 250px; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: red; */
    margin-left: 25px;
    & .icon{
        width: 23px;
        height: 23px;
        & img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
.footerRight{
    height: 30px;
    width: 90%;
    display: flex;
   justify-content: flex-start;
   align-items: center;
   /* background-color: red; */
   margin-left: 25px;

   & p{
    font-family: "poppins", sans-serif;
    font-size: 12px;
  
}
}
}

@media (min-width:767px) and (max-width:1024px){
    .headerImage{
        height: 100px;
        width: 200px;
}
.headerRight{
    height: 70%;
    width: 200px;

}

a .secBtn{
    height: 50px;
    width: 100px;
    font-size: 18px;
 
   
}
a button{
    height: 50px;
    width: 100px;
    font-size: 20px;
    
 
}
a button:hover{
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: #3348a2;
    color: white;
    transition: all 700ms;
}
a .secBtn:hover{
    background-color: #435abe;
    transition: all 650ms;
}
.HeroPage{
    height: 500px;
   
    
}
.heroWrapper{
    height: 500px;
  
}
.HeroPageText{
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: green; */
    gap: 20px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 45px;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        text-align: center;
        line-height: 35px;
    }
}
a .secBtns{
    height: 50px;
    width: 110px;
    font-size: 16px;
   
}
a .secBtns:hover{
    background-color: #435abe;
    transition: all 650ms;
}
.aboutSec{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0px;
    margin-top: 30px;
    /* background-color: red; */

    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 40px;
    }
}
.aboutInfo{
    height: 700px;
    width: 100%;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    /* background-color: purple; */
    flex-direction: column;
    justify-content: space-between;
    
}
.aboutInfoLeft{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    & .abtInfoWrapper{
        color: black;
        height: 250px;
        width: 700px;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        gap: 0px;
        justify-content:space-around;
        text-align: center;
        & h3{
            font-family: "Poppins", sans-serif;
            font-size: 28px;
            font-weight: 600;
        }
        & p{
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            text-align: center;
            line-height: 35px;
            
        }
    }
}


.aboutInfoimg{
    height: 53%;
    width: 90%;
    border-radius: 10px;
    margin-right: 0px;
    /* margin-left: 20px; */
    & img{
        height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    }
}
.whyInfo{
        height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    margin-top: 30px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 40px;
    }

}
.whyInfoWrapper{
    height:95%;
    width: 95%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
  
}
.WhyDown{
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    /* background-color: green; */
    align-items: center;
}
.whyBox{
    height: 600px;
    width: 90%;
    padding: 15px 10px 15px 10px;
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.whyUp{
    height: 350px;
    width: 95%;
    border-radius: 10px;
    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
.whyText{
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    & h3{
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 600;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size:20px;
        text-align: center;
        color: rgb(26, 25, 25);
        line-height:18px;
    }
}
.whyInfos{
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  /* background-color: red; */
    margin-top: 50px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 40px;
    }

}
.whyInfoWrappers{
    height: 95%;
    width: 95%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    justify-content: space-around;
}
.WhyDowns{
    height: 750px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  /* background-color: blue; */
    align-items: center;
}
.whyBoxs{
    height: 400px;
    width: 90%;
    padding: 15px 10px 15px 10px;
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.whyUps{
    height: 180px;
    width: 95%;
    border-radius: 10px;
    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
.whyTexts{
    height: 90px;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    & h3{
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 600;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size:20px;
        text-align: center;
        color: rgb(26, 25, 25);
        line-height:25px;
    }
}

.beforeFooter{
    height:400px;
    width: 100%;
    background-color: #7987c2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beforeFooterText{
    height: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
    gap: 20px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        text-align: center;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
    }
}
a .footerBtn{
    height: 50px;
    width: 120px;
   font-size: 18px;
   border-radius: 30px;
}
a .footerBtn:hover{
    height: 40px;
    width: 80px;
   font-size: 12px;
   border-radius: 30px;
    background-color: #3348a2;
    color: white;
    transition: all 700ms;
}
footer{
    height:150px;
    width: 100%;
    background-color: #3348a2;
    
}
.footerWrapper{
    height:150px;
    width: 90%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    color: white;
}
.footerLeft{
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
    & .footerImage{
        height: 50px;
        width: 200px;
        /* background-color: yellow; */

        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
       
    }
   
}
.footerIcon{
    width: 150px;
    /* height: 250px; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: red; */
    & .icon{
        width: 30px;
        height: 30px;
        & img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

.footerRight{
    height: 50px;
    width: 400px;
    display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: red; */

   & p{
    font-family: "poppins", sans-serif;
    font-size: 13px;
  
}
}
}