*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyWrapper{
    height: 90%;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LeftSignUp{
    height: 100%;
    width: 55%;
    background-image: url(./signUpImage.jpg);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.leftSignUpwrapper{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.219);
}
.rightSignUp{
    height: 100%;
    width: 45%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signUpWrapper{
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: red; */
}
.LogoContainer{
    height: 60px;
    width: 100%;
    /* background-color: yellow; */
}
.signUpLogo{
    height: 100%;
    width: 200px;

    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.signUpInfo{
    height: 500px;
    width: 100%;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.SignUpText{
    /* height: 150px; */
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        color: #3348a2;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        
    }
}
.SignUpInputBtn{
    /* height: 350px; */
    width: 85%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
   gap: 25px;
   align-items: center;
   
}
.SignUpInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputHolder{
    height: 50px;
    width: 100%;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Icon{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    & img{
        height: 100%;
        width: 100%;
       
    }
}
input{
    width: 430px;
    height: 100%;
    border: none;
   outline: none;
   font-size: 20px;
   font-family: "Roboto", sans-serif;
  
}
input::placeholder{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
}
select{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(95, 95, 95);
    cursor: pointer;
}
a .secBtn{
    height: 60px;
    width: 200px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #3348a2;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
a .secBtn:hover{
    background-color: #435abe;
    transition: all 650ms;
}
a{
    text-decoration: none;
}
.signUpBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.SignUpdownText{
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;

    & span{
        text-decoration: underline;
        color: #3348a2;
    }
}