*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyWrapper{
    height: 90%;
    width: 90%;
    /* background-color: purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LeftSignUp{
    height: 100%;
    width: 55%;
    background-image: url(./signUpImage.jpg);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.leftSignUpwrapper{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.219);
}
.rightSignUp{
    height: 100%;
    width: 45%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.signUpWrapper{
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: red; */
}

.LogoContainer{
    height: 60px;
    width: 100%;
    /* background-color: yellow; */
}
.signUpLogo{
    height: 100%;
    width: 200px;

    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.signUpInfo{
    height: 500px;
    width: 100%;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.SignUpText{
    /* height: 150px; */
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    & h1{
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        color: #3348a2;
    }
    & p{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        
    }
}
.SignUpInputBtn{
    /* height: 350px; */
    width: 85%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
   gap: 25px;
   align-items: center;
   
}
.SignUpInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputHolder{
    height: 50px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.Icon{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    & img{
        height: 100%;
        width: 100%;
       
    }
}
input{
    width: 95%;
    height: 100%;
    border: none;
   outline: none;
   font-size: 20px;
   font-family: "Roboto", sans-serif;
  
}
input::placeholder{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
}
select{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(95, 95, 95);
    cursor: pointer;
}

a .secBtn:hover{
    background-color: #435abe;
    transition: all 650ms;
}
a{
    text-decoration: none;
}
.signUpBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}
a{
    width: 100%;
}
 a .secBtn{
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3348a2;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

 .secBtn:hover{
    background-color: #435abe;
    transition: all 650ms;
}

.SignUpdownText{
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;

    & span{
        text-decoration: underline;
        color: #3348a2;
    }
}

@media (max-width:767px){
    .bodyWrapper{
        height: 100%;
        width: 95%;
        /* background-color: purple; */
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
 
    .LeftSignUp{
        display: none;
    }
    .rightSignUp{
        width: 100%;
        height:100%;
        /* background-color: yellowgreen; */
    }
    .signUpWrapper{
        height: 95%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        /* background-color: red; */
        gap: 10px;
    }
   
    .LogoContainer{
        height: 50px;
        width: 100%;
        /* background-color: yellow; */
        display: flex;
    }
    .signUpLogo{
        height: 100%;
        width:150px;
    
        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .signUpInfo{
        height: auto;
        width: 100%;
        /* background-color: goldenrod; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .SignUpText{
        /* height: 150px; */
        width: 90%;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       margin-bottom: 30px;
        & h1{
            font-family: "Poppins", sans-serif;
            font-size: 23px;
            color: #3348a2;
        }
        & p{
            font-family: "Roboto", sans-serif;
            font-size:16px;
            text-align: center;
        }
    }
    .SignUpInputBtn{
        /* height: 350px; */
        width: 85%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
       gap: 25px;
       align-items: center;
       
    }
    .SignUpInput{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .inputHolder{
        height: 35px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.473);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }
    .Icon{
        height: 20px;
        width:20px;
        /* margin-left: 20px; */
        & img{
            height: 100%;
            width: 100%;
           
        }
    }
    input{
        width: 90%;
        height: 100%;
        border: none;
       outline: none;
       font-size: 18px;
       font-family: "Roboto", sans-serif;
       /* background-color: red; */
      
    }
    input::placeholder{
        font-size:16px;
        font-family: "Roboto", sans-serif;
        display: flex;
        align-items: center;
    }
    select{
        width: 90%;
        height: 100%;
        outline: none;
        border: none;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        color: rgb(95, 95, 95);
        cursor: pointer;
    }
    
    a .secBtn:hover{
        background-color: #435abe;
        transition: all 650ms;
    }
    a{
        text-decoration: none;
    }
    .signUpBtn{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
       
    }
    a{
        width: 100%;
    }
     a .secBtn{
        height: 35px;
        width: 100%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #3348a2;
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    
     .secBtn:hover{
        background-color: #435abe;
        transition: all 650ms;
    }
    
    .SignUpdownText{
        width: 100%;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
    
        & span{
            text-decoration: underline;
            color: #3348a2;
        }
    }
    
}
@media (min-width:768px) and (max-width:800px){
    .bodyWrapper{
        height: 100%;
        width: 95%;
        /* background-color: purple; */
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
   
    .LeftSignUp{
        display: none;
    }
    .rightSignUp{
        width: 100%;
        height:auto;
        /* background-color: red; */
        /* display: flex; */
    }
    .signUpWrapper{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        /* background-color: red; */
        gap: 40px;
        /* background-color: greenyellow; */
    }
   
    .LogoContainer{
        height: 50px;
        width: 100%;
        /* background-color: yellow; */
        display: flex;
        /* margin-bottom: 20px; */
    }
    .signUpLogo{
        height: 100%;
        width: 200px;
    
        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .signUpInfo{
        height: auto;
        width:75%;
        /* background-color: goldenrod; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .SignUpText{
        /* height: 150px; */
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       margin-bottom: 30px;
        & h1{
            font-family: "Poppins", sans-serif;
            font-size: 30px;
            color: #3348a2;
        }
        & p{
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            
        }
    }
    .SignUpInputBtn{
        /* height: 350px; */
        width: 85%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
       gap: 25px;
       align-items: center;
       
    }
    .SignUpInput{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* background-color: red; */
    }
    .inputHolder{
        height: 45px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.473);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
    }
    .Icon{
        height: 20px;
        width:20px;
        /* margin-left: 20px; */
        & img{
            height: 100%;
            width: 100%;
           
        }
    }
    input{
        width: 95%;
        height: 100%;
        border: none;
       outline: none;
       font-size: 18px;
       font-family: "Roboto", sans-serif;
       /* background-color: red; */
      
    }
    input::placeholder{
        font-size:18px;
        font-family: "Roboto", sans-serif;
        display: flex;
        align-items: center;
    }
    select{
        width: 95%;
        height: 100%;
        outline: none;
        border: none;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        color: rgb(95, 95, 95);
        cursor: pointer;
    }
    
    a .secBtn:hover{
        background-color: #435abe;
        transition: all 650ms;
    }
    a{
        text-decoration: none;
    }
    .signUpBtn{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
       
    }
    a{
        width: 100%;
    }
     a .secBtn{
        height: 45px;
        width: 100%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #3348a2;
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    
     .secBtn:hover{
        background-color: #435abe;
        transition: all 650ms;
    }
    
    .SignUpdownText{
        width: 100%;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    
        & span{
            text-decoration: underline;
            color: #3348a2;
        }
    }
    
}
@media (min-width:801px) and (max-width:1024px){
    .bodyWrapper{
        height: 100%;
        width: 95%;
        /* background-color: purple; */
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
  
    .LeftSignUp{
        display: none;
    }
    .rightSignUp{
        width: 100%;
        height:auto;
    }
    .signUpWrapper{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        /* background-color: red; */
        gap: 40px;
    }
   
    .LogoContainer{
        height: 50px;
        width: 100%;
        /* background-color: yellow; */
        display: flex;
    }
    .signUpLogo{
        height: 100%;
        width: 200px;
    
        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .signUpInfo{
        height: auto;
        width: 75%;
        /* background-color: goldenrod; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .SignUpText{
        /* height: 150px; */
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       margin-bottom: 30px;
        & h1{
            font-family: "Poppins", sans-serif;
            font-size: 30px;
            color: #3348a2;
        }
        & p{
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            
        }
    }
    .SignUpInputBtn{
        /* height: 350px; */
        width: 85%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
       gap: 25px;
       align-items: center;
       
    }
    .SignUpInput{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .inputHolder{
        height: 45px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.473);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
    }
    .Icon{
        height: 20px;
        width:20px;
        /* margin-left: 20px; */
        & img{
            height: 100%;
            width: 100%;
           
        }
    }
    input{
        width: 95%;
        height: 100%;
        border: none;
       outline: none;
       font-size: 18px;
       font-family: "Roboto", sans-serif;
       /* background-color: red; */
      
    }
    input::placeholder{
        font-size:18px;
        font-family: "Roboto", sans-serif;
        display: flex;
        align-items: center;
    }
    select{
        width: 95%;
        height: 100%;
        outline: none;
        border: none;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        color: rgb(95, 95, 95);
        cursor: pointer;
    }
    
    a .secBtn:hover{
        background-color: #435abe;
        transition: all 650ms;
    }
    a{
        text-decoration: none;
    }
    .signUpBtn{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
       
    }
    a{
        width: 100%;
    }
     a .secBtn{
        height: 45px;
        width: 100%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #3348a2;
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    
     .secBtn:hover{
        background-color: #435abe;
        transition: all 650ms;
    }
    
    .SignUpdownText{
        width: 100%;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    
        & span{
            text-decoration: underline;
            color: #3348a2;
        }
    }
    
}